:root {
--Light-red: hsla(0, 100%, 67%);
--orange-yellow:hsl(39, 100%, 56%);
--Green-teal: hsl(166, 100%, 37%);
--Cobalt-blue: hsl(234, 85%, 45%);

--Light-slate-blue: hsl(252, 100%, 67%);
--Light-royal-blue: hsl(241, 81%, 54%);
--Violet-blue : hsla(256, 72%, 46%, 1);
--Persian-blue : hsla(241, 72%, 46%, 0);

--White: hsl(0, 0%, 100%);
--Pale-blue: hsl(221, 100%, 96%);
--Light-lavender: hsl(241, 100%, 89%);
--Dark-gray-blue: hsl(224, 30%, 27%);


}

*{
    padding:0; margin:0; box-sizing: border box;
    font-family:"Hanken Grotesk",sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Pale-blue)

}

.card{
    box-shadow: rgba(0,0,0,0.24)0px 3px 8px;
    border-radius: 2rem;
    width: 650px;
    background-color: white;
}

.card-container{
    display: flex;
    justify-content: space-between;
}

.result{

    width:50% ;
    padding: 1.5rem 2rem;
    border-radius: 2rem;
    background: linear-gradient(to bottom, var(--Light-slate-blue),var(--Light-royal-blue));
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
